html, body {
    height: 100%;
}
svg.svg-inline--fa.fa-house-user {
    font-size: 20px;
}
svg.svg-inline--fa {
    filter: invert(75%) sepia(71%) saturate(3097%) hue-rotate(129deg) brightness(94%) contrast(87%);
}

.navbar-nav li a:hover{
    color: #11c9c7;
}

button.btn.btn-custom{
    background-color: #11c9c7;
    color: white;
}
svg.svg-inline--fa.fa-user-pen.white{
    filter: invert(100%) sepia(0%) saturate(321%) hue-rotate(24deg) brightness(100%) contrast(129%);
}

svg.svg-inline--fa.fa-user-xmark.white{
    filter: invert(0%) sepia(0%) saturate(321%) hue-rotate(24deg) brightness(100%) contrast(129%);
}
div.input-password{
    position: relative;
}
div.input-password .eye-pword{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 8px;
    font-size: 12px;
    cursor: pointer;
}

.content{
    min-height: 100vh;
}